.navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 0.5px 0.5px 0.5px #757575;
}

.hearding__nav>h1 {
    font-size: 25px;
    font-weight: 200;
}

.div__anchor {
    width: 52%;
}

a {
    padding: 15px;
}