* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    color: var(--mdb-body-color);
    text-align: var(--mdb-body-text-align);
    /* background-color: var(--mdb-body-bg); */
    /* background-color: #FBFBFB; */
    background-color: #F3F7EC;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    font-family: Roboto Medium;
}

h2 {
    font-family: Aquatico;
}